<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
            <title>Hello {{ name }}</title>
        <link href="tour.css" rel="stylesheet">
    </head>
    <body>
        <main>
            <h1>Date: {{date}}, Time: {{time}}</h1>
            <h2>Name: {{name}}, ID: {{id}}</h2>
        </main>
    </body>
</html>