
html {
    font-family: 'Libre Baskerville', serif;
}

.pageHeader {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

body {
    background-color: blanchedalmond;
    margin: 1em;
    padding: 1em;
}

main {
    background-color: lightgreen;
    margin: 10px;
    padding: 10px;
}

nav {
    background-color: lightsteelblue;
    margin: 5px;
    padding: 5px;
    max-width: 20em;
    border: chocolate solid 5px;
}