<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        {% block metaStuff %}
            <!-- <title>Golden State Fantasy Baseball Homepage</title> -->
        {% endblock %}
        <link href="./styles/club.css" type="text/css" rel="stylesheet">
    </head>
    <body>
    <header>
        {% block pageHeader %}
            <!-- <h1 class="pageHeader">Golden State Fantasy Baseball</h1> -->
        {% endblock %}
    </header>
    <nav>
        <div class="dropdown">
            <span>Menu</span>
            <div class="dropdown-content">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/activities">Activities</a></li>
                    <li><a href="/teams">Teams</a></li>
                    <li><a href="/membership">Membership</a></li>
                    <li><a href="/login">Login</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <main>
        {% block main %}
            <script src="eventData.js"></script>
            <script src="activities.js"></script>
        {% endblock %}
    </main>
    <footer>
        &#x26be &copy 2020 Skyler Novak &#x26be
    </footer>
    </body>
</html>