<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Golden State Fantasy Baseball Homepage</title>
        <link href="./styles/club.css" type="text/css" rel="stylesheet">
    </head>
    <body>
    <header>
        <h1 class="pageHeader">Golden State Fantasy Baseball</h1>
    </header>
    <nav>
        <div class="dropdown">
    <span>Menu</span>
    <div class="dropdown-content">
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="About.html">About</a></li>
            <li><a href="Activities.html">Activities</a></li>
            <li><a href="Teams.html">Teams</a></li>
            <li><a href="Membership.html">Membership</a></li>
            <li><a href="Login.html">Login</a></li>
        </ul>
    </div>
</div>
    </nav>
    <main>
        <h1 id="welcome-to-the-golden-state-fantasy-baseball-homepage">Welcome to the Golden State Fantasy Baseball homepage!</h1>
<p>10 team, Head-to-Head points league</p>

<p><img src="images/GSFB-1.jpg" alt="Core Four Mets Game"></p>
<h2 id="league-history-x1f3c6">League History &amp;#x1f3c6</h2>
<ul>
<li><p>2019 - Appian Assault, Forest Novak</p>
</li>
<li><p>2018 - SF Crusaders, Tom Oneto</p>
</li>
<li><p>2017 - Bixby Kings, Skyler Novak</p>
</li>
<li><p>2016 - Chico PEDs, Alex Ging</p>
</li>
<li><p>2015 - Bay Area BALLerz, Cameron Ball</p>
</li>
<li><p>2014 - Fresno Foul-Ballers, Forest Novak</p>
</li>
</ul>
<div>

<h2 id="news--notes">News &amp; Notes:</h2>
<ol>
<li><p><a href="https://www.espn.com/mlb/story/_/id/28852075/yankees-slugger-aaron-judge-stress-fracture-rib">Yanks&#39; Aaron Judge out indefinitely with broken rib, hopes to avoid surgery</a></p>
</li>
<li><p><a href="https://www.nytimes.com/2020/02/25/sports/baseball/luis-severino-tommy-john.html">Yankees’ Luis Severino to Miss 2020 Season After Elbow Surgery</a></p>
</li>
<li><p><a href="https://www.cbssports.com/fantasy/baseball/news/2020-fantasy-baseball-draft-prep-giancarlo-stantons-latest-injury-could-turn-slugger-into-a-draft-bargain/">Giancarlo Stanton&#39;s latest injury could turn slugger into a draft bargain</a></p>
</li>
<li><p><a href="https://www.espn.com/fantasy/baseball/story/_/id/28785811/cockcroft-fantasy-baseball-playbook">Cockcroft&#39;s fantasy baseball playbook</a></p>
</li>
<li><p><a href="https://www.fantasypros.com/2020/02/10-breakout-pitchers-for-2020-fantasy-baseball/">10 Breakout Pitchers for 2020</a></p>
</li>
</ol>
</div>

<p>Since 2014</p>
    </main>
    <footer>
        &#x26be &copy 2020 Skyler Novak &#x26be
    </footer>
    </body>
</html>