{% extends "base.njk" %}

{% block title %}
<title>Teams - GSFB</title>
{% endblock %}

{% block pageHeader %}
<h1 class="pageHeader">Teams</h1>
{% endblock %}

{% block main %}
<p>Page coming soon...</p>

<ul>
    <li><p>Skyler Novak - Bixby Kings</p></li>
    <li><p>Forest Novak - Appian Assault</p></li>
    <li><p>Cameron Ball - Bay Area BALLerz</p></li>
    <li><p>Frankie Oneto - Syndergaardians Of the Galaxy</p></li>
    <li><p>Alex Ging - Chico PEDs</p></li>
    <li><p>Tom Oneto - SF Crusaders</p></li>
    <li><p>Jon Karanopoulos - SoCal Hurlers</p></li>
    <li><p>Luke Hissom - Throw @ a STRO</p></li>
    <li><p>Riley Wood - PAD SQUAD</p></li>
    <li><p>Laurence Boone - San Francisco Booyah</p></li>
</ul>
{% endblock %}